<html>

    <head>
        <title>Wedding App</title>
     </head>
    
    <body>
        <nav>
            <div class="container-fluid">
                <div class="navbar-header" >
                    <a href="schedule.html">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="my_plans.html">Add Task</a></li>
                    <li><a href="schedule.html">Schedule</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Logout</a></li>
                </ul>
                
            </div>
        </nav>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">Created by Team CASC</p>
            </div>
        </footer>
        
    </body>
</html>