{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="text-align:center; width: 80%;">
    <h1>About Us</h1>

    <p>We are a group of friends from Babson College! We created this project because we wanted a scheduler that could help people decide on how to prioritize their wedding tasks.</p>
    
    <div class="row" style="margin-bottom:5%; margin-top:5%;"></div>
    <p>Alastair Ng: Senior from Hong Kong studying computational and mathematical finance and business analytics </p>
    </div>

    <div class="row" style="margin-bottom:5%; margin-top:5%;"></div>
    <p>Christine Lee: Senior from Chicago, IL.  Double concentrating in business analytics and IT </p>
    </div>

    <div class="row" style="margin-bottom:5%; margin-top:5%;"></div>
    <p>Siddhanth Goyal: Senior from New York, studying computational and mathematical finance and Quantitative Methods</p>
    </div>

    <div class="row" style="margin-bottom:5%; margin-top:5%;"></div>
    <p>Connie Li:Senior from Tampa, FL double concentrating in Business Analytics and Information Technology working for Cardinal Health doing data analytics post-grad</p>
    </div>
</div>
{% endblock %}