{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="text-align:center; width: 80%;">
    <h1>About Us</h1>
    <p>We are a group of friends from Babson College! We created this project because we wanted a scheduler that could help people decide on how to prioritize their wedding tasks.</p>
    <div class="row" style="margin-bottom:5%; margin-top:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Alastair Ng</div>   
        <div class="col-xs-6"><em>Senior from Hong Kong studying computational and mathematical finance and business analytics</em></div>
    </div>
    <div class="row" style="margin-bottom:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-6" style="text-align:right;"><em>Senior from Chicago, IL.  Double concentrating in business analytics and IT</em></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Christine Lee</div>
    </div>
    <div class="row" style="margin-bottom:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Siddhanth Goyal</div>
        <div class="col-xs-6"><em>Senior from New York, studying computational and mathematical finance and Quantitative Methods</em></div>
    </div>
    <div class="row" style="margin-bottom:5%;">
        <div class="col-xs-2"></div>
        <div class="col-xs-6" style="text-align:right;"><em>Senior from Tampa, FL double concentrating in Business Analytics and Information Technology working for Cardinal Health doing data analytics post-grad</em></div>
        <div class="col-xs-2" style="background-color:#9ED1BB;">Connie Li</div>
    </div>
</div>
{% endblock %}