{% extends 'base.html' %}
{% block content %}
<!-- JUMBOTRON -->    
<div class="jumbotron">
    <h1>Wedding App</h1>
    <p>Write it down, get it done.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div>
            <p>Do you find yourself overwhelmed with all the things you have to do?</p>
            <p>Don't know what to do first?</p>
            <p>That's alright, neither did we, until we made this scheduling app.</p>
            <ul>Just tell it:
                <li>what you need to get done</li>
                <li>when it has to be done by</li>
                <li>how important it is to you</li>
            </ul>
            <p>and it will help you figure out how to go about your week.</p>
            <p>We will take care of it, so you don't have to.</p>
        </div>
        <div>
            {% if error %}
            <div>
              <strong>Error!</strong> {{error}}
            </div>
            {% endif %}
            <div>
                <div>Sign up now</div>

                <div class="panel-body">
                    <form role="form" method="post">
                        {% csrf_token %}
                        <div>
                            <label>Email address:</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        <div>
                            <label>Username:</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <div>
                            <label for="password_conf">Retype Password:</label>
                            <input type="password" name="password_conf" class="form-control" id="password_conf">
                        </div>
                        <div>
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/pwstrength-bootstrap-1.2.10.min.js"></script>
<script>
    $(document).ready(function() {
        $('#password').pwstrength({
            ui: { showVerdictsInsideProgressBar: true }
        });
    })
</script>
{% endblock %}